*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.red{
    background-color: red;
    width: 260px;
   height: 160px;
   margin-top: 250px;
}

.blue{

    background-color: blue;
    width: 25px;
    height: 160px;
    margin-top: 250px;
}

.cabeca{
    background-color:green;
    width: 100%;
    height: 50px;
    align-self: flex-start;
    justify-content:left;

}
.sigla{
    font-size: 30px;
}

.extenso{
    font-size: 10px;
}

#logo{
    width: 50px;
    height: 50px;
    justify-content:right;
    margin-left: 95px;
}





.meio{
    background-color: yellow;
    width: 100%;
    height: 50px;
    align-self: normal;

}


#foto{
    width: 50px;
    height: 50px;
    justify-content: left;
    margin-right: 215px;
}

p{
    align-items: center;
    align-content: center;
    justify-content: center;


}

.titulo{

    font-size: 10px;
 
}

.dados{

    font-size: 10px;
}










.pe{
    background-color: white;
    width: 100%;
    height: 50px;
}



